<div class="card has-margin-bottom-10 has-margin-top-10 is-hidden-mobile" *ngIf="(res$ | async) as data">
    <div class="coumns is-mobile" *ngIf="data[1]">
        <div class="level">
            <div class="column is-1-desktop is-1-tablet" *ngFor="let cur of data[1]; let i = index">
                <div class="is-center">{{cur.name}}</div>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div>{{cur.value}}</div>
                        </div>
                    </div>
                    <div class="level-right" *ngIf="cur.value && data[0][i]">
                        <div class="level-item">
                            <div *ngIf="cur.value > data[0][i].value ;else elseBlock">
                                <mat-icon style="color:#00D1B2">
                                    <fa-icon [icon]="_arrowU"></fa-icon>
                                </mat-icon>
                            </div>
                            <ng-template #elseBlock>
                                <div>
                                    <mat-icon style="color:#FF3860">
                                        <fa-icon [icon]="_arrowD"></fa-icon>
                                    </mat-icon>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>