<!-- {{ res$ | async | json}} -->

<div *ngIf="auth$ | async">
    <div *ngIf="(res$ | async) as data" fxLayout fxLayoutAlign="space-evenly" style="background-color: lightgrey">

        <div fxFlex="17" fxHide.xs *ngFor="let cur of data[1]; let i = index">
            <div class="box" gdColumn="col 3 / span 2" gdRow="row 2" gdGap="10px" gdColumns="1fr 1fr">
                <div class="box one" gdColumn="1 / 3" gdRow="1" (click)="onClick(cur)">{{cur.name}}</div>
                <div class="box two" gdColumn="1" gdRow="2">{{cur.value}}</div>
                <div class="box three" gdColumn="2" gdRow="2">
                    <div *ngIf="cur && data[0][i]">
                        <div *ngIf="cur.value > data[0][i].value ;else elseBlock">
                            <mat-icon style="color:royalblue">
                                <fa-icon [icon]="arrowUp"></fa-icon>
                            </mat-icon>
                        </div>
                        <ng-template #elseBlock>
                            <mat-icon style="color:orangered">
                                <fa-icon [icon]="arrowDown"></fa-icon>
                            </mat-icon>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>