<form *ngIf="isNew || (article$ | async) as article  ; else loading " [formGroup]="form"
  [connectForm]="article$ | async" novalidate>
  <mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title *ngIf="!isNew">Edit Article</mat-card-title>
      <mat-card-title *ngIf="isNew">Create Article</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="twenty-width">
            <mat-select placeholder="Category" formControlName="category" (selectionChange)="onCategoryChanged()">
              <mat-option *ngFor="let cat of keys(_category)" [value]="_category[cat]">
                {{ cat }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['category'].hasError('required')">
              category is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="twenty-width">
            <mat-select placeholder="SubCategory" formControlName="subCategory">
              <!-- <div *ngif="_subCategoryParser(article$ | async).subCategory))">

                </div> -->
              <!-- <div *ngIf="(article$ | async) as article"> -->
              <!-- <div *ngIf="_subCategoryParser(article.subCategory)">
                    {{_subCategoryParser(article.subCategory)}}
                  </div> -->
              <div *ngIf="isNew">

              </div>
              <div *ngIf="!isNew">
              </div>
              <div *ngIf=" enumParser(article.subCategory, _articleScienceCategory)">
                <mat-option *ngFor="let sub of keys(_articleScienceCategory)" [value]="_articleScienceCategory[sub]">
                  {{ sub }}
                </mat-option>
              </div>
              <div *ngIf="enumParser(article.subCategory, _articleMathematicsCategory)">
                <mat-option *ngFor="let sub of keys(_articleMathematicsCategory)"
                  [value]="_articleMathematicsCategory[sub]">
                  {{ sub }}
                </mat-option>
              </div>
              <div *ngIf="enumParser(article.subCategory, _articleLiteratureCategory)">
                <mat-option *ngFor="let sub of keys(_articleLiteratureCategory)"
                  [value]="_articleLiteratureCategory[sub]">
                  {{ sub }}
                </mat-option>
              </div>
              <!-- </div> -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="seventy-width">
            <input matInput placeholder="Title" type="string" formControlName="title">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dateCreated">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div> -->
        <!-- <div class="col">
          <mat-form-field>
            <input matInput placeholder="Views" type="number" formControlName="viewCount">
          </mat-form-field>
        </div> -->
      </div>
      <div class="col content">
        <div class="media">
          <aside class="media-left">
            Content
          </aside>
          <div class="media-content is-bordered">
            <ckeditor placeholder="Type the content here!" formControlName="content" #description skin="moono-lisa"
              [editor]="editor"></ckeditor>
          </div>
        </div>
      </div>
      <div *ngIf="!isNew" class="level">
        <div class="level-left">
          <div class="level-item">
            <button class="button  is-primary" (click)="gotoList()">Go to List</button>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button  is-danger" (click)="delete(article)">Delete</button>
          </div>
          <div class="level-item">
            <button class="button  is-primary" (click)="save()" [disabled]="form.invalid">Save</button>
          </div>
        </div>
      </div>
      <div *ngIf="isNew" class="level">
        <div class="level-left">
          <div class="level-item">
            <button class="button is-primary" (click)="gotoList()">Cancel</button>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button class="button is-primary" (click)="create()" [disabled]="form.invalid">Create</button>
          </div>
          <div class="level-item"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<ng-template #loading>
  Loading Data...
</ng-template>