<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/']">
      <img src="../../assets/avatar.png">
    </a>
    <div class="navbar-buger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="navbar-link">
          .....
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="navbar-link">
          .....
        </div>
      </div>
    </div>
  </div>
</nav>
<section>
  <div class="columns">
    <div class="column is-3-desktop">
      <nav class="menu">
        <p class="menu-label">
          AAA
        </p>
        <ul class="menu-list">
          <li>
            <a [routerLink]="" [routerLinkActive]="['is-active']">
              <span class="icon">
                <fa-icon [icon]=""></fa-icon>
              </span>
              AAAA
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<!-- <header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Avatar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <mat-menu #toolbarUserMenu="matMenu">
          <button mat-menu-item (click)="onLogoutClick()">
            <mat-icon>
              <fa-icon icon="power-off"></fa-icon>
            </mat-icon>
            <span>log out</span>
          </button>
        </mat-menu>
        <button *ngIf="(auth$ | async) as auth" mat-icon-button [matMenuTriggerFor]="toolbarUserMenu">
          <fa-icon icon="user-circle"></fa-icon>
        </button>
        <button mat-button mat-stroked-button color="accent" *ngIf="!(auth$ | async)" (click)="onLoginClick()">
          LOGIN
        </button>

        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/article"]'>Article</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/calendar"]'>Calendar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->