<div fxLayout="column" *ngIf="article$ | async as article">
  <div fxFlex="30">30</div>
  <div fxFlex="70">
    <div fxFlex="40">Category</div>
    <div fxFlex="20">{{article.category | category}}</div>
    <div fxFlex="40">SubCategory</div>
    <div fxFlex="20">{{article.subCategory | subCategory}}</div>
  </div>
  <div fxFlex="70">
    <div fxFlex="40">Title</div>
    <div fxFlex="20">{{article.Title}}</div>
  </div>
  <div fxFlex="70">
    <div fxFlex="40">Content</div>
    <div fxFlex="20">{{article.Content  }}</div>
  </div>
</div>



<div class="container" rtl>
  <div class="row">
    <div class="col-md-12">
      <div class="container" *ngIf="article$ | async as selectedArticle">
        <div class="row">
          <div class="col">
            Category
          </div>
          <div class="col">
            {{selectedArticle.category | category}}
          </div>
          <div class="col">
            SubCategory
          </div>
          <div class="col">
            {{selectedArticle.subCategory | subCategory}}
          </div>

        </div>
        <div class="row">
          <div class="col">
            Title
          </div>
          <div class="col">
            {{selectedArticle.title}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Content
          </div>
          <div class="col">
            {{selectedArticle.content}}
          </div>
        </div>
        <div class="row">
          <span class="d-flex justify-content-end">
            <span>
              <button mat-button color="accent" *ngIf="!isEditing" (click)="edit(selectedArticle)"
                data-testid="edit-crud">
                EDIT
              </button>
              <button mat-button color="warn" (click)="delete(selectedArticle)" data-testid="delete-crud">
                DELETE
              </button>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<pre>
  {{ article$ | async | json}}
</pre>