<div class="is-fullheight-with-navbar" *ngIf="article$ | async as selectedArticle">
  <div class="card has-padding-left-10 has-margin-top-30">
    <div class="columns">
      <div class="column has-background-white">
        <strong>Category</strong>
      </div>
      <div class="column">
        {{ selectedArticle.category | category}}
      </div>
      <div class="column has-background-white">
        <strong> Category</strong>
      </div>
      <div class="column">
        {{selectedArticle.subCategory | subCategory}}
      </div>
    </div>
    <div class="columns">
      <div class="column has-background-white">
        <strong>Date</strong>
      </div>
      <div class="column">
        {{ selectedArticle.dateCreated}}
      </div>
      <div class="column has-background-white">
        <strong>View</strong>
      </div>
      <div class="column">
        {{selectedArticle.viewCount}}
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 has-background-white">
        <strong> Title</strong>
      </div>
      <div class="column is-9">
        {{ selectedArticle.title}}
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 has-background-white">
        <strong> Content</strong>
      </div>
      <div class="column is-9 has-height-350">
        <!-- <mat-tab-group>
          <mat-tab label="Unstyled">
            {{ selectedArticle.content}}
          </mat-tab>
          <mat-tab label="Styled">
            <div class="content">
              <ckeditor #description readonly="true" skin="moono-lisa" data="selectedArticle.content" [editor]="editor"></ckeditor>
            </div>
          </mat-tab>
        </mat-tab-group> -->
        {{ selectedArticle.content}}
      </div>
    </div>
  </div>

  <div class="level has-margin-top-20 has-background-light">
    <div class="level-left">
      <div class="level-item">
        <button class="button is-primary " (click)="goToList()">
          Go to List
        </button>
      </div>
    </div>
    <div class="level-right">

      <div class="level-item">
        <button class="button is-danger " (click)="delete(selectedArticle)">
          DELETE
        </button>
      </div>
      <div class="level-item">
        <button class="button is-primary " *ngIf="!isEditing" (click)="edit(selectedArticle)">
          EDIT
        </button>
      </div>
    </div>
  </div>
</div>